<!DOCTYPE html>
<html>
<head>
  <%- include('../include-head') %>
  
  <script>
  
    $(function(){

        $('.btn-delete').click(function(){


            if(confirm('삭제할까요')){
            document.location.replace("/book/delete/<%- book._id %>")

        }
        })


        $('.btn-list').click(function(){
            document.location.replace('/book')
        })


    })

  </script>

</head>
<body>
    <fieldset class="w3-border-blue">

            <legend>

                    <% if(formTitle == 'UPDATE'){ %>
        
                        도서 정보 수정
        
                    <% }else{ %>
        
        
                        도서 정보 추가
        
                     <% } %>   
        
                </legend>
        


    <form method="post" class="w3-container">

       

        <label class="w3-text-blue" for="bTitle"><b>도서명</b></label>
        <input type="text" id="bTitle" name="bTitle" class="w3-input w3-border" value="<%- book.bTitle %>">
        
        <label class="w3-text-blue" for="bWriter"><b>저자</b></label>
        <input type="text" id="bWriter" name="bWriter" class="w3-input w3-border" value="<%- book.bWriter %>">

        <label class="w3-text-blue" for="bCompany"><b>출판사</b></label>
        <input type="text" id="bCompany" name="bCompany" class="w3-input w3-border" value="<%- book.bCompany %>">

        <label class="w3-text-blue" for="bPrice"><b>가격</b></label>
        <input type="text" id="bPrice" name="bPrice" class="w3-input w3-border" value="<%- book.bPrice %>">


        <button class="w3-button w3-blue w3-right">저장</button>




        <legend>

                <% if(formTitle == 'UPDATE'){ %>
                    
                    <button type="button" class="w3-button w3-red w3-right btn-delete">삭제</button>
                    <button type="button" class="w3-button w3-green w3-right btn-list">리스트</button>
    
                <% } %>
    
    
        </legend>
    




    </form>
</fieldset>
</body>
</html>